<h1>Log In Below:</h1>
<form action="/sessions" method="POST">
  <p> Name: <input type="text" name="name"/></p>
  <p> Password: <input type="text" name="password"/></p>
  <input type="submit" value="login" id="submit"/>
</form>
